@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
:root {
  --font-family: 'Poppins', sans-serif;

  --gradient-text: linear-gradient(90deg, #6a46ce 0%, hsla(256, 58%, 85%, 1) 100%);
  --gradient-bar: linear-gradient(90deg, hsla(256, 58%, 54%, 1) 0%, hsla(256, 58%, 85%, 1) 100%);

  --color-bg: #fff;
  --color-footer: #ffffff;
  --color-blog: #ffffff;
  --color-text: #0d1318;
  --color-subtext: cec2ef;
 --color: #FFF8F8;
--color1: #DCEFFF;
--color2: #ECF0FE;
--color3:-#CECAF2;
--color3:-#9E9ED1;
--color3:-#6844CE;
--color3:-#533CB7;
--color3:-#3F2A9A;
--color3:-#2F1E7A;
--color3:-#1F0F5D;
}
