@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
:root {
  --font-family: 'Poppins', sans-serif;

  --gradient-text: linear-gradient(90deg, hsla(256, 58%, 54%, 1) 0%, hsla(256, 58%, 85%, 1) 100%);
  --gradient-bar: linear-gradient(90deg, hsla(256, 58%, 54%, 1) 0%, hsla(256, 58%, 85%, 1) 100%);

  --color-bg: #ffffff;
  --color-footer: #ffffff;
  --color-blog: #ffffff;
  --color-text: #0d1318;
  --color-subtext: cec2ef;
}
